/* =============
    Card 
============= */
#carda{
    @include md{
        display: grid;
        grid-template-columns:16px auto 16px;
        grid-template-areas: ". cards-below-hero .";
    }

    @include xl{
        grid-template-columns: auto 1168px auto;
    }
    >div{
        display: grid;
        gap: 16px;
        box-sizing: border-box;
        @include md{
            grid-area: cards-below-hero;
            grid-template-columns: 50% auto;
            box-sizing: border-box;
        }
    }
    .subhero-card{
        background-color: var(--sage);
        box-shadow: 0px 1px 1px rgba(42, 48, 54, 0.2968);
        color: var(--dblue);
        padding: 16px;
        display: flex;
        align-items: center;

        a{
            margin-top: 8px;
        }
        
        aside{
            margin-left: auto;
        }
    }
}
/* =============
    Card 2
============= */

#cardb{
    @include md{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas:". news ."
    }

    @include xl{
        grid-template-columns: auto 1168px auto;
    }
    >div{
        display: grid;
        gap: 16px;
        @include md{
            grid-area: news;
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas: 
            "n1 n1 n1 n1"
            "n2 n2 n3 n3"
            "n4 n4 n5 n5"
            ".. n6 n6 ..";
        }
        @include lg{
            grid-template-columns: repeat(6, 1fr);
            grid-template-areas: 
            "n1 n1 n1 n1 n1 n1"
            "n2 n2 n3 n3 n4 n4"
            ".. n5 n5 n6 n6 ..";
        }
        section{
            img{
                font-size: 0;
                display: block;
            }
            .card-data{
                display: grid;
                grid-template-columns: 16px auto 16px;
                grid-template-areas: ". cardb .";
                background-color: var(--sage);
                color: var(--dblue);
                box-shadow: 0px 1px 1px rgba(42, 48, 54, 0.2968);
                padding: 16px 0;
                >div{
                    grid-area: cardb;
                    p{
                    }
                    a{
                    }
                }
            }
        }

        #n1{
            @include md{
                grid-area: n1;
            }
        }
        #n2{
            @include md{
                grid-area: n2;
            }
        }
        #n3{
            @include md{
                grid-area: n3;
            }
        }
        #n4{
            @include md{
                grid-area: n4;
            }
        }
        #n5{
            @include md{
                grid-area: n5;
            }
        }
        #n6{
            @include md{
                grid-area: n6;
            }
        }
    }
    
}