/* =============
    Hero
============= */
#hero{

}

#osprey{
    background-color: darkorange;
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". osprey .";

    >div{
        grid-area: osprey;
        @include md{
            display: grid;
            grid-template-columns: 40% auto;
        }
        @include lg{
            display: grid;
            grid-template-columns: 50% 50%;
        }
    }
}

#osprey2{
    background-color: goldenrod;
    display: grid;grid-template-columns: 16px auto 16px;
    grid-template-areas: ". location .";

    >div{
        grid-area: location;
        @include md{
            display: grid;
            grid-template-columns: 40% auto;
        }
        @include lg{
            display: grid;
            grid-template-columns: 50% 50%;
        }
    }

}       

/* =============
    Hero2
============= */
#hero2{

}