/* =============
    Hero
============= */
#hero{
    text-align: left;

    img{
        font-size: 0;
        display: block;
    }

    #hero-cards{
        @include md{
            display: grid;
            grid-template-columns: 40% auto;
        }

        @include lg{
            display: grid;
            grid-template-columns: 50% auto;
        }

        .hero-bottom-content{
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". hero-sub .";
            >div{
                grid-area: hero-sub;
                display: flex; 
                align-items: center;
            }
        }
        #hero-bottom-left{
            background-color: var(--orange);
            color: white;
            h1{
                font-size: rem-calc(18);
                font-weight: 700;
                line-height: 20px;

                @include xl{
                font-size: rem-calc(25);
                }
            }
            p{
                font-weight:400;
                font-style: italic;
                line-height: 20px;
                font-size: rem-calc(14);
                margin-top: -8px;

                @include xl{
                    font-size: rem-calc(16);
                    }
            }
            aside{
               margin-left: auto;
               a:link, a:visited{
                    display: flex;
                    color: white;
                    
                        &:hover, &:active{
                            color: var(--lblue);
                            transition: 0.25s;
                        }
                    }
               img{
                    display: block;
                    padding: 0px 8px;
                }
            } 
            @include xxl{
                display: grid;
                grid-template-columns: 20% auto 16px;
            }
        }
        #hero-bottom-right{
            background-color: var(--gold);
            color: white;

            p{  font-weight:400;
                line-height: 19.2px;
                font-size: rem-calc(16);

                span{
                    font-weight: 600;
                }
            }

            #line2{
                font-style:italic;
                margin-top: -12px;
                margin-bottom: 48px;

                @include md{
                    margin-bottom: 24px;
                }

                @include xl{
                    margin-bottom: 12px;
                }
            }

            aside{
                margin-left: auto;
                a:link, a:visited{
                     display: flex;
                     color: white;
                     
                         &:hover, &:active{
                             color: var(--lblue);
                             transition: 0.25s;
                         }
                     }
                img{
                     display: block;
                     padding: 0px 8px;
                 }
            }
            
            @include md{
                padding: 8px 0px 8px 0px;
            }
            @include xxl{
                display: grid;
                grid-template-columns: 16px auto 20%;
                }
    

            }
        }
    }