/* =============
    Hero
============= */
#hero{

    #hero-cards{
        @include md{
            display: grid;
            grid-template-columns: 40% auto;
        }

        @include lg{
            display: grid;
            grid-template-columns: 50% auto;
        }

        section{
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". hero-sub .";
            >div{
                grid-area: hero-sub;
            }
        }
        #hero-bottom-left{
            background-color: var(--orange);
            color: white;
            padding: 0px 0px 8px 0px;
            a{
                text-align: right;
                color: white;
            }
            img{
                display:block;
                margin-left: auto;
            }
            @include xxl{
                display: grid;
                grid-template-columns: 20% auto 16px;
            }
        }
        #hero-bottom-right{
            background-color: var(--gold);
            color: white;
            padding: 8px 0px 32px 0px;
            a{
                text-align: right;
                color:white;
            }
            img{
                display:block;
                margin-left: auto;
            }
            @include md{
                padding: 8px 0px 8px 0px;
            }
            @include xxl{
                display: grid;
                grid-template-columns: 16px auto 20%;
                }
    

            }
        }
    }