/* =============
    Footer
============= */
footer{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". footer .";
    background-color: var(--yellow);
    color: var(--dblue);
    margin: 32px 0px 0px 0px;

    @include xxl{
        grid-template-columns: auto 1024px auto;
    }

    >div{
        grid-area: footer;

        @include md{
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas:
            "f1 f2"
            "f1 f3";
        }

        @include lg{
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas:
            "f1 f2 f3"; 
            gap:24px; 
        }
        
        #f1{
            grid-area: f1;
            a{
                color: var(--dblue);
            }
        }
        #f2{
            grid-area: f2;
            form{
                input{
                    width: 100%;
                    border: none;
                    padding: 16px 24px;
                    box-sizing: border-box;
                    color: var(--2E6379);
                    background-color: var(--lblue);
                }
                button{
                    border: none;
                    padding: 4px 16px;
                    margin: 24px 0px;
                    background-color: var(--orange);
                    color: white;
                }
                
            }
        }
        #f3{
            grid-area: f3;
        }
    }
}
