/* =============
    Footer
============= */
footer{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". footer .";
    background-color:aquamarine;

    @include xxl{
        grid-template-columns: auto 1024px auto;
    }

    >div{
        grid-area: footer;

        @include md{
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas:
            "f1 f2"
            "f1 f3";
        }

        @include lg{
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas:
            "f1 f2 f3"; 
            gap:24px; 
        }
        
        #f1{
            grid-area: f1;
        }
        #f2{
            grid-area: f2;
            form{
                input{
                    width: 100%;
                    border: none;
                    padding: 16px 24px;
                    box-sizing: border-box;
                }
                button{
                    border: none;
                    padding: 4px 16px;
                }
                
            }
        }
        #f3{
            grid-area: f3;
        }
    }
}
