/* =============
    Header
============= */
header{
    #logo{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". logo .";
        >div{
            grid-area: logo;
            display: grid;
            grid-template-columns: 88.5% auto;
            img{

            }
        }
        
    }
    #form-content{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". forms .";
        >div{
            grid-area: forms;
            form{
                input{
    
                }
                button{
                    img{
    
                    }
                }
            } 
        }
        
    }
}