/* =============
    Header
============= */
header{
    background-color: var(--cream);
    box-shadow: 0px 4px 10px gray;
    
    /* =========================
    effect-style: Header Shadow
    Effect: Drop shadow
    Radius: 10px
    Offset: 0px, 4px
    ===========================*/
    #logo{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". logo .";
        >div{
            grid-area: logo;
            display: grid;
            grid-template-columns: auto 12%;
            img{

            }
        }
        
    }
    #form-content{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". forms .";
        >div{
            grid-area: forms;
            form{
                input{
                    color: var(--dblue);
                    background-color: var(--cream);
                    padding: 16px 24px;
                    width:100%;
                    border: none;
                    box-sizing: border-box;

                }
                button{
                    border: none;
                    background-color: var(--cream);
                    img{
    
                    }
                }
            } 
        }
        
    }
}